body {
    background-color: #d9d9d9;
}

h1 {
    text-align: center;
}

h2, p {
    position: relative;
    text-align: center;
}

fieldset {
    background-color: white;
}

table, th, td {
    border: 1px solid silver;
    text-align: center;
    /*padding: 45px;*/
}

th {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center !important;
    padding-left: 30px !important;
    background-color:  #D3D3D3;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

table {
    position: relative;
    margin-top: 50px;
    /*left: 10%;*/
    width: 100%;
    margin-bottom: 150px;
}

fieldset {
    position: relative;
    width: 30%;
    left: 50px;
    margin-top: 50px;
}

.formless {
    position: relative;
    left: 35%;
    margin-top: 50px;

}

.holder {
    min-height: 80px;
}

input {
    margin: 4px !important;
}

footer {
    background-color: #b3b3b3;
    position: relative;
    height: 10px;
    clear: both;
    padding-top: 80px;
    min-width: 100%;
} 


element.style {
}
jumbotron.css:2
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
scaffolding.less:32
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #b3b3b3;
    background-color: #fff;
}
normalize.less:20
body {
    margin: 0;
}
bootstrap.css:1062
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}

th.sorting_asc {
    position: relative;
    padding-top: 10px;
}


#data_wrapper {
    padding: 0 150px;
}

