body {
    background-color: #d9d9d9;
}

h1 {
    text-align: center;
}

h2, p {
    position: relative;
    text-align: center;
}

fieldset {
    background-color: white;
}

table, th, td {
    border: 2px solid black;
    text-align: center;
    padding: 45px;
}

th {
    font-weight: bold;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.hidden {
	display: none;
}

table {
    position: relative;
    /*left: 50%;*/
    margin-top: 50px;
    left: 25%;
    width: 50%;
    margin-bottom: 50px;
}

fieldset {
    position: relative;
    width: 30%;
    left: 50px;
    margin-top: 50px;
}

button {
    position: relative;
    left: 35%

}

.holder {
    min-height: 180px;
}

footer {
    background-color: #b3b3b3;
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;
    padding-top:20px;
} 


element.style {
}
jumbotron.css:2
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
scaffolding.less:32
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #b3b3b3;
    background-color: #fff;
}
normalize.less:20
body {
    margin: 0;
}
bootstrap.css:1062
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}

